{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row col-sm-offset-1">
        <div class="col-sm-12">
            <h2>Récupération du mot de passe ?</h2>

            <p>{{ 'resetting.password_already_requested'|trans }}</p>
        </div>
    </div>
{% endblock fos_user_content %}
