{% extends "MCBundle::layout.html.twig" %}

{% block title %}
    Séances - {{ parent() }}
{% endblock %}

{% block body_mc %}

    <div class="text-center">
        <h1 class="text-info">Seance</h1>

        <p class="lead">
    test
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
    </div>

{% endblock %}
